parameta_api_rest/src/main/resources/wsdl/employees.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://parameta.co/web/assesment/employees" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://parameta.co/web/assesment/employees" targetNamespace="http://parameta.co/web/assesment/employees">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://parameta.co/web/assesment/employees">

    <xs:element name="createEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:Employee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:Employee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Employee">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="firstNames" type="xs:string"/>
            <xs:element name="lastNames" type="xs:string"/>
            <xs:element name="documentType" type="xs:string"/>
            <xs:element name="documentNumber" type="xs:int"/>
            <xs:element name="birthDate" type="xs:date"/>
            <xs:element name="hireDate" type="xs:date"/>
            <xs:element name="position" type="xs:string"/>
            <xs:element name="salary" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createEmployeeRequest">
    <wsdl:part element="tns:createEmployeeRequest" name="createEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createEmployeeResponse">
    <wsdl:part element="tns:createEmployeeResponse" name="createEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeesPort">
    <wsdl:operation name="createEmployee">
      <wsdl:input message="tns:createEmployeeRequest" name="createEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:createEmployeeResponse" name="createEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesPortSoap11" type="tns:EmployeesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="createEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesPortService">
    <wsdl:port binding="tns:EmployeesPortSoap11" name="EmployeesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>